<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

    <title>Kõik Registreerimised</title>
</head>
<body>

<div>
    <a href="/"><span>Uus</span></a>
    <a href="/visits"><span>Registreerimised</span></a>
</div>

<div class="container">

    <!--Lisan "delete" nupu-->
    <a th:href="@{/delete(visitId=${visit.id})}"
       class="btn btn-danger btn-sm"
       onclick="if (!(confirm('Oled Sa kindel, et soovid registreerimist kustutada?'))) return false">
        Kustuta
    </a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark"/>
        <tr>
            <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
            <td><p th:text="${visit.dentistName}" /></td>
        </tr>
        <tr>
            <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
            <td><p th:text="${visit.visitTime}" /></td>
        </tr>
</table>

</div>
</body>
</html>

<!--<tr th:each="item : ${visit_time}" th:text="${arsti.nimi}"></tr> -->