<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

    <title>Kõik Registreerimised</title>
</head>
<body>

<div>
    <a href="/"><span>Uus</span></a>
    <a href="/visits"><span>Registreerimised</span></a>
</div>

<div class="container">

    <!--Otsingumootori jaoks kastikese ja nupu lisamine-->
    <form action="search" method="GET">Otsing:<input type="text" name="theSearchName" />

        <input type="submit" value="Search" class="add-button" />
    </form>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Arsti nimi</th>
            <th>Visiidi kuupäev ja kellaaeg</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="tempVisit : ${visits}">
            <td th:text="${tempVisit.dentistName}" />
            <td th:text="${tempVisit.visitTime}" />
            <td>
                <!-- Lisan nupu registreeringu detailseks vaatamiseks -->
                <a th:href="@{/detail(visitId=${tempVisit.id})}"
                   class="btn btn-info btn-sm">
                    Vaata lähemalt
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>

<!--<tr th:each="item : ${visit_time}" th:text="${arsti.nimi}"></tr> -->